.closed {
  .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-180deg);
  }
  .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }
}

.opened {
  opacity: 1;
  .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
  .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }
}
.plus-container {
    .fg-plus {
      position: relative;
	}
}
.plus-container .plus .horizontal, .plus-container .plus .vertical {
    position: absolute;
    background-color: #000;
    width: .7vw;
    height: 4vw;
    left: 37%;
    top: 1vw;
}