.sticky-nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  margin: 0 auto;
}

.show-for-medium-down {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .show-for-medium-down {
    display: block;
  }

  .sticky-heading-mobile {
    text-align: center;
    font-size: 10vw;
    font-weight: bold;
    padding: 5vw;
    background-color: #fff;
  }

  .hamburger-button, .hamburger-button:active, .hamburger-button:focus, .hamburger-button:hover {
    float: right;
    width: 10vw;
    height: 8vw;
    background-size: 9vw 8vw;
    margin-top: 1vw;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNjBweCIgaGVpZ2h0PSI0NHB4IiB2aWV3Qm94PSIwIDAgNjAgNDQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYwIDQ0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGQ9Ik0wLDBoNjB2OEgwVjB6IE0wLDAiLz4NCgk8cGF0aCBkPSJNMCwxOGg2MHY4SDBWMTh6IE0wLDE4Ii8+DQoJPHBhdGggZD0iTTAsMzZoNjB2OEgwVjM2eiBNMCwzNiIvPg0KPC9nPg0KPC9zdmc+DQo=');
    border: none;
  }

  .sticky-accordion {
    display: none;
    background-color: #fff;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1024px) {
  .sticky-nav {
    width: 100% !important;
  }
}